/* Styles for entire site 
 * Sets default background color of pages
 * Sets default font of pages
*/
html {
    background-color: #222222;
    margin: 0;
}

body {
    background-color: #222222;
    margin: 0;
    height: 100%;
}

section {
    height: 100%;
}

* {
    font-family: 'Lato', serif;
}


/* NAVIGATION BAR */
.navbar {
    background-image: linear-gradient(to bottom right, #222222, #333333);
    border-bottom: thin solid #145DA0;
}


/* HOME PAGE */
.header {
    line-height: 2.5;
    font-family: 'Lato', serif;
    font-weight: 300;
}

/* Left-hand Side of Home Page (Image) */
.col-lg-4 {
    text-align: center; margin: 1em 0;
}

.imageAboutPage {
    width: 100%;
    height: auto;
    border-radius: 10%;
    box-shadow: 0px 0px 8px #444444;
}

/* Home Page Text */
.col-lg-8 {
    font-size: 20px;
    line-height: 2;
    font-weight: 300;
}

#about, #coursework, #projects, #blog {
    background-color: #222222;
    color: #ffffff;
}

@media (min-width: 768px) {
    #about, #coursework, #projects, #blog {
        padding-left: 10rem;
        padding-right: 10rem;
    }
}

/* display background color black on navbar scroll */
.navbarScroll.navbarDark {
    background-color: black;
}

/* social media icons styling */
.social-icons {
    font-size: 36px;
    cursor: pointer;
}
.fa-linkedin:hover, .fa-github:hover, .fa-envelope:hover {
    color: #145DA0;
}

.fa {
    color: #fff;
}

.fab {
    color: #fff;
}
/* footer styling */
#footer {
    text-align: center;
    background-image: linear-gradient(to bottom right, #222222, #333333);
    border-top: thin solid #145DA0;
}

.nav-text {
    font-size: 20px;
    line-height: 2;
    font-weight: 300;
    text-decoration: none;
    color: white;
}

.nav-text-email {
    font-size: 20px;
    line-height: 2;
    font-weight: 300;
    text-decoration: none;
    color: white;
}

.email {
    font-size: 20px;
    line-height: 2;
    font-weight: 300;
    text-decoration: none;
    color: white;
}

/* Left-hand Side of Home Page (Socials) */
.social-icons-home {
    font-size: 20px;
    cursor: pointer;
    display: inline-block;
    text-align: left;
    list-style: none;
    line-height: 2;
    font-weight: 200;
}

.home-icons {
    color: white;
}

li .email {
    display: none;
}
  
li:hover .nav-text-email {
    display: none;
}
  
li:hover .email {
    display: inline;
}

.coursework, .blog, .projects {
    position: sticky;
    margin-top: 5rem;
}

.projects {
    padding-bottom: 2rem;
}

.card {
    background-image: linear-gradient(to bottom right, #222222, #333333) !important;
    border-radius: 10%;
    box-shadow: 0px 0px 4px #333333;
    min-height: 250px;
}

.classes {
    text-align: left;
    line-height: 2;
}

.card-title {
    font-family: 'Lato', serif !important;
    font-weight: 400 !important;
}

.card-text {
    font-size: 18px;
    line-height: 2;
    font-weight: 300;
}

.text-center {
    font-family: 'Lato', serif !important;
    font-weight: 300 !important;
}

.subtitle {
    font-size: 18px;
    font-weight: 300;
}

.blog, .projects {
    line-height: 2;
}

.images {
    width: 50%;
    height: auto;
    border-radius: 10%;
    box-shadow: 0px 0px 8px #444444;
    margin-bottom: 2rem;
}

.btn {
    background-color: #145DA0;
    color: white;
    border: none;
}

.btn-success {
    background-color: #145DA0 !important;
    border-color: #145DA0 !important;
    border: none;
}