body.project-detail-page .project-detail h1 {
    font-size: 2.5rem;
}

body.project-detail-page .project-detail img {
    border: 2px solid #f1f1f1; /* Example border */
}

body.project-detail-page .project-detail p {
    line-height: 1.8;
    margin-bottom: 0.5rem;
    font-size: 1rem;
}

ul, ol {
    text-align: left; /* Ensure text is aligned left within the list */
    padding-left: 0; /* Remove default padding */
    list-style-position: inside; /* Ensure bullet/number aligns with text */
}
ul li, ol li {
    text-align: center; /* Center-align list items */
    font-size: 1rem;
}